{% extends 'base.html.twig' %}

{% block title %}Date{% endblock %}

{% block body %}
<div>
    <h1>Date</h1>

    {% if is_valid %}
        <div>
            The time zone {{ input_model.timezone }} has {{ result_model.getZoneOffsetWithSign() }} minutes offset to UTC on the given day at noon.<br />
            February in this year is {{ result_model.februaryDays }} days long.<br />
            The specified month {{ result_model.monthName }} is {{ result_model.monthDays }} days long.
        </div>
    {% endif %}

    {{ form(model_form) }}
</div>
{% endblock %}
