{% extends 'base.html.twig' %}

{% block title %}Task1{% endblock %}

{% block body %}
<div>
    <h1>Task1</h1>

    {% if is_valid %}
        <div>
            The time zone {{ input_model.timezone }} has {{ result_model.getAFormatted() }} minutes offset to UTC on the given day at noon.<br />
            February in this year is {{ result_model.b }} days long.<br />
            The specified month {{ result_model.c }} is {{ result_model.d }} days long.
        </div>
    {% endif %}

    {{ form(model_form) }}
</div>
{% endblock %}
